body{
    margin: 0;
}

a{
    display: inline-block;
    padding: 10px;
}

.left-border{
    border-left: 1px solid white;
}

#header{
    background-color: black;
    width: 100%;
    height: 100px;
}

#navbar{
    width: 100%;
    height: 50vh;
}

#main-content{
    display: inline-block;
    padding: 10px;
}

#left-nav{
    background-color: cyan;
    width:230px;
    height:80vh;
    float: left;
    
}

#right-nav{
    background-color: yellow;
    width:230px;
    height:75vh;
    float: right;
}

#footer{
    background-color: black;
    padding: 10px;
    width: 100%;
    clear: both;
}

.txt-white{
    color: white;
}

.txt-center{
    text-align: center;
}